In [219]:
import pandas as pd
from sklearn import linear_model
from regressors import stats
from sklearn import svm
from sklearn.ensemble import ExtraTreesRegressor
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [220]:
le = preprocessing.LabelEncoder()
scaler = StandardScaler()

In [221]:
df = pd.read_csv("input.csv")
df.dropna(inplace = True)

In [222]:
le.fit(df["USO"])
df["USO"] = le.transform(df["USO"])
#df2 = pd.get_dummies(df["USO"])

In [223]:
#df3 = pd.concat([df, df2], axis = 1)
#df3 = df3.drop(["USO"], axis = 1)

In [224]:
df3 = df

In [225]:
scaler.fit(df3)
df4 = scaler.transform(df3)

In [226]:
df3 = pd.DataFrame(df4, columns = df3.columns)

In [227]:
df3

,ZAT,N_ORIGEN,N_DESTINO,ESTRATO,USO,CUPOS,PARQUEADEROS,20-24,25-59,5-19,60+,MEDIA,NINGUNA,POSGRADO,SUPERIOR,HOMBRE,MUJER
0,-1.605619,-0.599767,-0.606526,1.577001,0.314763,-0.230683,-0.328824,-0.844693,-0.900200,-0.801809,-0.993453,-0.778179,-0.961367,-0.558784,-0.868839,-0.894669,-0.898662
1,-1.602175,-0.649857,-0.657450,2.204480,0.314763,-0.230683,-0.328824,-0.870179,-0.914673,-0.807261,-1.032460,-0.786744,-0.940350,-0.603753,-0.887175,-0.910685,-0.915356
2,-1.598732,-0.649857,-0.657450,2.204480,-0.625200,-0.230683,-0.328824,-0.850809,-0.906609,-0.814985,-1.008874,-0.782219,-0.954361,-0.622490,-0.888586,-0.901470,-0.909523
3,-1.595289,-0.649857,-0.657450,-1.560393,-0.625200,2.190229,-0.328824,-0.877315,-0.937623,-0.840883,-1.049695,-0.801127,-0.954361,-0.646224,-0.919264,-0.932405,-0.939693
4,-1.591845,-0.649857,-0.657450,0.949522,-0.625200,-0.230683,-0.328824,-0.881393,-0.939484,-0.840428,-1.059674,-0.800480,-0.968372,-0.654968,-0.927727,-0.935038,-0.941503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
864,2.065100,-0.649857,-0.657450,-0.305436,0.314763,-0.230683,-0.328824,-0.881393,-0.925425,-0.822709,-1.056952,-0.791269,-0.961367,-0.649971,-0.908686,-0.919241,-0.932050
865,2.068543,-0.649857,-0.657450,-1.560393,-0.625200,-0.230683,-0.328824,-0.883432,-0.928319,-0.827706,-1.059674,-0.794663,-0.961367,-0.649971,-0.911507,-0.922532,-0.935067
866,2.071987,-0.649857,-0.657450,-1.560393,1.254727,-0.230683,-0.328824,-0.859985,-0.889862,-0.767733,-1.033367,-0.772361,-0.947355,-0.521309,-0.868134,-0.885893,-0.891421
867,2.075430,-0.622559,-0.629698,2.204480,1.254727,-0.230683,-0.328824,-0.719299,-0.730036,-0.569183,-0.963517,-0.693014,-0.695155,-0.126579,-0.718620,-0.724856,-0.735341
868,2.319915,-0.649857,-0.657450,-0.932914,0.314763,-0.230683,-0.328824,-0.324769,-0.510663,-0.310660,-0.774831,-0.267834,-0.190754,-0.641227,-0.748241,-0.467722,-0.471856

In [228]:
df3 = df3.drop(["ZAT"], axis = 1)

In [229]:
x = df3.drop(["N_ORIGEN", "N_DESTINO"], axis = 1)
y = df3["N_ORIGEN"]
y2 = df3["N_DESTINO"]

In [230]:
#reg = linear_model.Ridge(alpha=.5)
reg = ExtraTreesRegressor(n_estimators=50)
#reg = svm.SVR()
reg.fit(x, y2)
#reg.coef_
#reg.intercept_
reg.feature_importances_

array([0.02389391, 0.01537894, 0.02407039, 0.03687057, 0.1668459 ,
       0.09449713, 0.10725944, 0.05277489, 0.12449739, 0.07072165,
       0.0475129 , 0.06098134, 0.08635412, 0.08834145])

In [231]:
reg.score(x, y2)

0.9999979365101654

In [232]:
len(df3[df3['N_ORIGEN']==0])

0

In [233]:
imp = reg.feature_importances_
mean = np.mean(imp)
bool_array = imp >= mean
indices = []
indices2 = []
H = 0
H2 = 0
for q in range(len(bool_array)):
    if ~bool_array[q]:
        indices.append(H)
    H = H+1     
for w in range(len(bool_array)):
    if bool_array[w]:
        indices2.append(H2)
    H2 = H2+1      
columnas_eliminar = []
columnas_restantes = []
for ind in indices:
    columnas_eliminar.append(x.columns[ind])
for ind in indices2:
    columnas_restantes.append(x.columns[ind])

In [234]:
columnas_eliminar

['ESTRATO',
 'USO',
 'CUPOS',
 'PARQUEADEROS',
 '60+',
 'NINGUNA',
 'POSGRADO',
 'SUPERIOR']

In [235]:
columnas_restantes

['20-24', '25-59', '5-19', 'MEDIA', 'HOMBRE', 'MUJER']

In [166]:
df3

,N_ORIGEN,N_DESTINO,ESTRATO,20-24,25-59,5-19,60+,MEDIA,NINGUNA,POSGRADO,SUPERIOR,HOMBRE,MUJER
0,72.822671,72.822671,5.0,40.0,211.0,92.0,75.0,153.0,1.0,77.0,170.0,203.0,230.0
1,0.000000,0.000000,6.0,15.0,141.0,80.0,32.0,100.0,4.0,41.0,118.0,130.0,147.0
2,0.000000,0.000000,6.0,34.0,180.0,63.0,58.0,128.0,2.0,26.0,114.0,172.0,176.0
3,0.000000,0.000000,0.0,8.0,30.0,6.0,13.0,11.0,2.0,7.0,27.0,31.0,26.0
4,0.000000,0.000000,4.0,4.0,21.0,7.0,2.0,15.0,0.0,0.0,3.0,19.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,0.000000,0.000000,2.0,4.0,89.0,46.0,5.0,72.0,1.0,4.0,57.0,91.0,64.0
917,0.000000,0.000000,0.0,2.0,75.0,35.0,2.0,51.0,1.0,4.0,49.0,76.0,49.0
918,0.000000,0.000000,0.0,25.0,261.0,167.0,31.0,189.0,3.0,107.0,172.0,243.0,266.0
919,39.686473,39.686473,6.0,163.0,1034.0,604.0,108.0,680.0,39.0,423.0,596.0,977.0,1042.0
921,0.000000,0.000000,1.0,550.0,2095.0,1173.0,316.0,3311.0,111.0,11.0,512.0,2149.0,2352.0